.DS_Store

# Node / Frontend
node_modules/
dist/
.cache/
.vite/
package-lock.json

# Environment
.env
.env.*

# Python / Backend
__pycache__/
*.py[cod]
*.db
*.sqlite*
venv/
.venv/
*.log

# Editors / IDE
.idea/
.vscode/

